.graph > img{
  width: 270px;
}

.graph {
  display: none;
}

.graph > h3 {
  text-align: center;
  margin-top: 0px;
}

.response {
  display: none;
}

.login-modal {
  display: none;
  position: fixed;
  top: 100px;
  left: 40px;
  background: white;
  border: 2px solid black;
  z-index: 2;
}

.login-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .4;
  z-index: 1;
}

.login-modal > .container > .inputs {
  display: none;
}

.input-wrapper {
  margin: 10px;
  text-align: center;
}

.logout {
  display: none;
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.sharing-modal > img {
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

.sharing-modal {
  display: none;
  border: 2px solid black;
  position: fixed;
  top: 200px;
  background: white;
}

.closer {
  float: right;
  margin: 5px;
  cursor: pointer;
}

.profile-picture {
  width: 100px;
  border-radius: 50px;
}

.response {
  width: 300px;
}

.response > .post-button {
  float: right;
}

.response > textarea {
  width: 200px;
}

.response > img {
  width: 40px;
  margin-right: 100px;
  cursor: pointer;
}

.response > .recorded_video {
  display: none;
  width: 100px;
}

.downvoting-options, .upvoting-options {
  display: none;
  position: fixed;
  height: 30px;
  background: white;
  border: 1px solid black;
}

.up-vote, .down-vote {
  cursor: pointer;
}

.thumbnail {
  text-align: center;
}

.host-picture {
  float: left;
  border-radius: 50px;
}

.rep-info > .position {
  margin: 0px;
  font-size: 25px;
  float: left;
  width: 180px;
  margin-left: 10px;
}

.rep-info {
  height: 115px;
}

.recent-time {
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 0px;
  width: 180px;
}

.app-name {
  float:left;
  margin-left: 15px;
}

.logout, .app-name {
  margin-top: 5px;
}

.subtitle {
  color: #777;
  text-align: center;
}

.header {
  height: 30px;
  background: #FFCD5F;
}

.page-header {
  margin-top: 10px;
}

.preamble {
  float: left;
  border: black;
  border-bottom: 2px solid black;
  font-size: 20px;
  padding-bottom: 5px;
  height: 200px;
}

.preamble > .welcome-msg {
  margin-top: 4%;
  text-align: center;
}

.welcome-msg .host-picture {
  float: none;
  border-radius: 15px;
  height: 25px;
  width: 25px;
}

.townhall-name {
  margin-top: 5px;
  text-align: center;
}

.page-header {
  border: none;
}

.extended-text {
  display: none;
}

.poll > h2 {
  margin-bottom: 0px;
}