.page-header > h2 {
  text-align: center
}

.discussion{
  text-align: center;
} 

table, th, td {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

table {
  margin-left:auto; 
  margin-right:auto;
}

th {
  text-align: center;
}

.stats-table {
  width: 700px;
  text-align: middle;
}

.videos {
  margin-top: 50px ;
}

.video-upload {
  width: 350px;
}

.everything{
  text-align: center;
}